apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "syncfusion-collab-ui.fullname" . }}
  labels:
    {{- include "syncfusion-collab-ui.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "syncfusion-collab-ui.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "syncfusion-collab-ui.selectorLabels" . | nindent 8 }}
        {{- if .Values.podLabels }}
        {{- toYaml .Values.podLabels | nindent 8 }}
        {{- end }}
      {{- if .Values.podAnnotations }}
      annotations:
        {{- toYaml .Values.podAnnotations | nindent 8 }}
      {{- end }}
    spec:
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- range .Values.imagePullSecrets }}
        - name: {{ . }}
        {{- end }}
      {{- end }}
      {{- if .Values.podSecurityContext }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- end }}
      containers:
        - name: ui
          {{- $tag := default .Chart.AppVersion .Values.image.tag }}
          image: {{ printf "%s:%s" .Values.image.repository $tag }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.securityContext }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          {{- end }}
          ports:
            - containerPort: {{ .Values.service.targetPort }}
              name: http
          {{- if or .Values.env.apiBaseUrl .Values.env.licenseKey .Values.env.extra }}
          env:
            {{- if .Values.env.apiBaseUrl }}
            - name: REACT_APP_SYNCFUSION_API_BASE
              value: {{ .Values.env.apiBaseUrl | quote }}
            {{- end }}
            {{- if .Values.env.licenseKey }}
            - name: REACT_APP_SYNCFUSION_LICENSE_KEY
              value: {{ .Values.env.licenseKey | quote }}
            {{- end }}
            {{- with .Values.env.extra }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- end }}
          {{- if .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.resources }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}
      {{- if .Values.affinity }}
      affinity:
        {{- toYaml .Values.affinity | nindent 8 }}
      {{- end }}
      {{- if .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
      {{- end }}
      {{- if .Values.tolerations }}
      tolerations:
        {{- toYaml .Values.tolerations | nindent 8 }}
      {{- end }}
