apiVersion: v1
kind: Service
metadata:
  name: {{ include "syncfusion-collab-api.fullname" . }}
  labels:
    {{- include "syncfusion-collab-api.labels" . | nindent 4 }}
  {{- if .Values.service.annotations }}
  annotations:
    {{- toYaml .Values.service.annotations | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
  selector:
    {{- include "syncfusion-collab-api.selectorLabels" . | nindent 4 }}
